<!--<template>
      <form action="#" @submit.prevent = "submit">
          <div>
              <label for="email">Correo electronico</label>
              <input type="email" name="email" id="email" v-model="form.email">

          </div>
           <div>
              <label for="password">Contraseña</label>
              <input type="text" name="password" id="password" v-model="form.password">

          </div>
          <button type="submit">Iniciar Sesion</button>
    </form>
</template>-->
<template>
<div>
    <NavHome :color="color"/>
      <div class="limiter" style="padding-top: 5%;">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" @submit.prevent = "submit">
					<span class="login100-form-title p-b-34">
						Iniciar Caso
					</span>
					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="email" class="input100" type="email" name="username" placeholder="Nombre Cliente" v-model="form.email" autocomplete="off">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Password" autocomplete="off">
						<input class="input100" type="password" name="password" id="password" placeholder="Contraseña"  v-model="form.password"> 
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Inicio de sesion
						</button>
					</div>

					<div class="w-full text-center p-t-27 p-b-239">
					<a href="#" class="txt2">
						</a>
					</div>

					<div class="w-full text-center">
						<a href="#" class="txt3">
					
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('images/login.jpg');"></div>
			</div>
		</div>
	</div>
    </div>
  
</template>
<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
    export default {      
        name:'SignIn',
        components:{NavHome},
        data(){
            return {
            form:{
                email:'',
                password:''
                },
                color:'#00ad5f'
            }
        },
        methods:{
            ...mapActions({
                signIn:'Auth/signIn'
            }),
         async submit(){
			try {
				await this.signIn(this.form)
				this.$router.replace({name:'dashboard.post'})	
			} catch (error) {
				let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})
			}
        }
    }
}
</script>
